p, span, a, li {
	font-family: 'Lekton', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Quicksand', sans-serif;
}

.profile_img {
	width: 100%;
	border-radius: 50%;
	max-width: 200px;
	position: absolute;
    right: 60px;
}

.white_part {
	padding: 30px 0 50px 0;
}

.project_img {
	width: 100%;
}

.row {
	padding: 20px 0 20px 0;
}


.margin_bot {
	margin-bottom: 0px;
}

@media (max-width: 576px) {
	.row {
		text-align: center;
	}
	
	h2 {
		margin: auto;
	}

	.profile_img {
		display: none;
	}
}